body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerFixed {
  background-color: #CCC;
}

.divTitle, .divFooter {
  background-color: #fff;
}

.card-header, .card-footer {
  font-weight: bold;
}

.card-body {
  display: grid;
  grid-template-columns:repeat(3,1fr);
  justify-items: center;
  align-content: center;
  gap: 10px;
}

.fixedBody {
  display: flex;
  flex-direction: column;
}

.fixed {
  background-image: url('https://storage.googleapis.com/chile-travel-newsite-static-content/2021/07/Naturaleza_parques-y-reservas-nacionales_5.jpg');
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}